Package: gettext-base
Source: gettext
Version: 0.20.2.1-10build1
Architecture: arm64
Maintainer: Santiago Vila <sanvila@debian.org>
Installed-Size: 565
Depends: libc6 (>= 2.17)
Section: utils
Priority: standard
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/gettext/
Description: GNU Internationalization utilities for the base system
 This package includes the gettext and ngettext programs which allow
 other packages to internationalize the messages given by shell scripts.
