Package: gettext-base-dbgsym
Source: gettext
Version: 0.20.2.1-10build1
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Santiago Vila <sanvila@debian.org>
Installed-Size: 180
Depends: gettext-base (= 0.20.2.1-10build1)
Section: debug
Priority: optional
Description: debug symbols for gettext-base
Build-Ids: 5acbb1f35553328e5f726e1b21b0eeaf09cf5be8 5f7d7724eb98461da163a736ca6a7590e023b0ec 7e32e51c3d0b4b3db956d0bd88df5c684bb9597f
